*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(147, 46, 46);
}
form{
    position: absolute;
    top: 20%;
    left: 38%;
    padding: 50px;
    display: block;
    width: 20%;
    justify-content: center;
    text-align: center;
    background-color: rgb(207, 127, 127);
    
}
.heading{
    font-size: 18px;
    float:left;
}
.input-inner{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.btn{
    width: 50%;
    padding: 10px;
    border-radius: 5px solid black;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: white;
}
.per{
    font-size: 23px;
}
.Ger{
    font-size: 20px;
}
